.stricker {
  max-width: 100%;
}

.card-detail {
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin: 10px;
}

.status-activat {
  font-weight: bold;
  color: #D8D8D8;
}

.status-ready {
  font-weight: bold;
  color: #00FF00;
}

.status-nonpayment {
  font-weight: bold;
  color: #FF0000;
}

.border-card-expire {
  background: #EEEEEE;
}

.padding-center {
  text-align: center;
}

.zero-margin {
  margin: 0;
}

.right {
  vertical-align: top;
  width: 70%;
  display: inline-block;
  top: 0;
}
