.counter-service {
  background-image: url('../../images/counter_service.png');
  background-size: contain;
  height: 100px;
  width: 155px;
  border: none;
}

.plus {

}

.sub {

}

.test {

}

.price{
  border: none;
  width: 35px;
}


.point {
  border: none;
  width: 35px;
}


.user-point {

}

.wallet {
  background-image: url('../../images/wallet.png');
  background-size: contain;
  height: 100px;
  width: 155px;
  border: none;
}

.-inline{
  display: inline;
}

.-margin-right {
  margin-left: 30px;
}

.-method-container {
  width: 100%;
  padding: 60px 30px;
  position: relative;
}

.topup-modal {
  padding-top: 0px;
  text-align: center;
}

.center {
  text-align: center;
  padding-bottom: 20px;
}
