<form class="-inline" id="add-top-up">
  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
    Top-up
  </button>
</form>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Please input your top-up code</h4>
      </div>
      <div class="modal-body">
        <div class="container -method-container topup-modal">
          <img class="center" src = "../static/images/truemoney.jpg" alt="" height="200" >
          <form class= "-inline" action = "{% url 'main:topup' %}" method = "post">{% csrf_token %}
            <input type="text" class="form-control width-200" name="code_id">
            <button class="btn btn-success" class = "wallet" type = "submit"> Submit </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
