<div id="footer" style="position: fixed;
bottom: 0;
width: 100%;">
    <div class="row">
        <div class="col-md-4">
            <h4>Quick Information :</h4>
            <p>
                <a href="http://steam-wallet.com/">Steam Wallet</a><br>
                <a href="https://line.me/en/">Line Coin</a><br>
                <a href="https://www.playstation.com/en-gb/explore/ps4/">PlayStation Wallet</a>
            </p>
        </div>
        <div class="col-md-4">
            <h4>Need Help ?</h4>
            <hr>
            <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
            <a href="https://twitter.com/"><i class="fa fa-twitter-square fa-3x color-twitter"></i></a>
            <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-3x color-google-plus"></i></a>
            <a href="https://www.linkedin.com/uas/login"><i class="fa fa-linkedin-square fa-3x color-linkedin"></i></a>
            <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-square fa-3x color-pinterest"></i></a>


        </div>
        <div class="col-md-4 text-right">
            <p>Pig-Pug-Pong Team<br>
            Software and Knowledge Engineer<br>
            Kasetsart University</p>
            <div class="row">
              <div class="col-md-5"></div>
              <div class="col-md-3" >
                <form action="{% url 'main:mainforum' %}" method="post">
                  {% csrf_token %}
                  <div class="row"><button type="submit" class="btn btn-primary" name="mainforum">Forum</button></div>
                </form>
              </div>
              <div class="col-md-3 text-center">
                <form action="{% url 'main:login_regis' %}" method="post">
                  {% csrf_token %}
                  <div class="row"><button type="submit" class="btn btn-primary" name="login_regis">Register</button></div>
                </form>
              </div>
              <div class="col-md-1"></div>
            </div>
        </div>
    </div>


</div>
