<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>PIG PUG PONG TOP-UP</title>
    <!--GOOGLE FONT -->
    {% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <!--SLIDER CSS CLASES -->
    <link href="{% static 'assets/Slides-SlidesJS-3/examples/playing/css/slider.css' %}" rel="stylesheet" />
    <!--CUSTOM STYLE -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/profile.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/history.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/session_bar.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/list.css' %}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<!--END HEAD SECTION -->
<body>
    <!-- NAV SECTION -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'main:index' %}">PIGPUGPONG</a>
            </div>
                {% include "logout.html" %}
        </div>
    </div>
    <!--END NAV SECTION -->
    <!-- HOME SECTION -->
    {% include "profile.html" %}
    <div class="container right">

      <div class="row">
        <div class="col-xs-8 padding-center">
          <h4>Description</h4>
        </div>

        <div class="col-xs-2">
          <h4>Status</h4>
        </div>

        <div class="col-xs-2">
          <h4>Date  </h4>
        </div>

        <!-- <div class="col-xs-1" style="padding-right: 10px">
          <h4>Payment</h4>
        </div> -->

      </div>

      {% for i in order %}
      <!-- <div class="col-xs-11"> -->
        <div class="row card-detail">
          <div class="col-xs-2">
            {% if i.top_up_type_id == 1 %}
              <img class="stricker" src="../static/images/steam.png" >
            {% elif i.top_up_type_id == 2 %}
              <img class="stricker" src="../static/images/line.png" >
            {% else %}
              <img class="stricker" src="../static/images/psn.png" >
            {% endif %}
          </div>
          <div class="col-xs-6">
            {% if i.status == 'activated' or i.status == 'ready' %}
              <p style="margin: 0;">Top-up Code : </p>
              <p style="margin: 0;">{{i.top_up_code}}</p>
            {% else %}
              <p style="margin: 0;">Payment Code : </p>
              <p style="margin: 0;">{{i.payment_code}}</p>
            {% endif %}

          </div>
          <div class="col-xs-2">
            {% if i.status  == 'activated' %}
              <p style="margin: 0;">Activated</p>
            {% elif i.status == 'ready' %}
              <p style="margin: 0;" class="status-ready">Ready</p>
            {% else %}
              <p style="margin: 0;" class="status-nonpayment">Not paid</p>
            {% endif %}
          </div>

          <div class="col-xs-2">
            {% if i.status == 'activated' or i.status == 'ready' %}
              <p style="margin: 0;">{{i.date_paid|date:"b / d / o"}}</p>
            {% else %}
              <p style="margin: 0;">-</p>
            {% endif %}
          </div>
        <!-- </div> -->
      </div>
      <!-- <div class="col-xs-1" style="padding-top: 20px">
        {% if i.status %}
          <p style="margin: 0;" class="status-complete">Paid</p>
        {% else %}
          <p style="margin: 0;" class="status-payment">not paid</p>
        {% endif %}
      </div> -->
      {% endfor %}

    <!--END HOME SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    {% load static %}
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/profile.js' %}"></script>
    <!-- SLIDER SCRIPTS LIBRARY -->
    <script src="{% static 'assets/Slides-SlidesJS-3/examples/playing/js/jquery.slides.min.js' %}"></script>
    <!-- CUSTOM SCRIPT-->
    <script>
        $(document).ready(function () {
            $('#slides').slidesjs({
                width: 940,
                height: 528,
                play: {
                    active: true,
                    auto: true,
                    interval: 4000,
                    swap: true
                }
            });
        });
    </script>
</body>
</html>
