<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>PIG PUG PONG TOP-UP</title>
    <!--GOOGLE FONT -->
    {% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <!--SLIDER CSS CLASES -->
    <link href="{% static 'assets/Slides-SlidesJS-3/examples/playing/css/slider.css' %}" rel="stylesheet" />
    <!--CUSTOM STYLE -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/list.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/session_bar.css' %}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<!--END HEAD SECTION -->
<body>
    <!-- NAV SECTION -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'main:index' %}">PIGPUGPONG</a>
            </div>
            {% if username == '' %}
              {% include "login.html" %}
            {% else %}
              {% include "logout.html" %}
            {% endif %}
        </div>
    </div>
    <!--END NAV SECTION -->
    <!-- HOME SECTION -->

    <div class="container">
      <div class="row main-low-margin text-center">
        {% for i in x %}
          <div class="col-md-4 col-sm-4 image-container" style="margin-top: 50px;">
              <div>
                <p class = "text-on-card">{{i.value}}$</p>
              <img src = "../static/images/{{key|lower}}.png" alt="" height="100" >
            </div>
              <h4 style="margin-bottom: 0;"> {{key}} Wallet {{i.value}} Baht</h4>
              <p style="margin-bottom: 4px;">Price : {{i.price}} Bth</p>
              <p style="margin-bottom: 7px;">Point : {{i.point}}</p>
              <button type="button" class="btn btn-primary btn-lg buy-but" data-toggle="modal" data-target="#myModal{{i.package_id}}">
                Buy Wallet
              </button>

<!--- Modal --->
            <div class="modal fade" id="myModal{{i.package_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Please select the payment method</h4>
                  </div>

                  <div class="modal-body">
                    <div class="container -method-container">
                      <p>Price : <input type="number" class="price" value="{{i.price}}"></input> Bth</p>
                      <p>Point :
                        <input type="number" class="point" value=0></input>
                        <span><button class="plus">+</button></span>
                        <span><button class="sub">-</button></span>
                        <input class="user-point" type="hidden" value="{{user.point}}"></input>
                      </p>
                      <form class= "-inline" action = "{% url 'main:buy' %}" method = "post">{% csrf_token %}
                        <button class = "counter-service" type = "submit"></button>
                        <input name = "method" value = "seven" type = "hidden"></input>
                        <input name = "package_id" value = "{{i.package_id}}" type = "hidden"></input>
                        <input name = "key" value = "{{key}}" type = "hidden"></input>
                        <input class="price" name = "price" value = "{{i.price}}" type = "hidden"></input>
                        <input class="point" name = "point" value =0 type = "hidden"></input>
                      </form>
                      <form class= "-inline -margin-right" action = "{% url 'main:buy' %}" method = "post">{% csrf_token %}
                        <button class = "wallet" type = "submit"></button>
                        <input name = "method" value = "wallet" type = "hidden"></input>
                        <input name = "package_id" value = "{{i.package_id}}" type = "hidden"></input>
                        <input name = "key" value = "{{key}}" type = "hidden"></input>
                        <input class="price" name = "price" value = "{{i.price}}" type = "hidden"></input>
                        <input class="point" name = "point" value =0 type = "hidden"></input>
                      </form>
                    </div>
                    <!-- <input name = "package_id" value = "{{i.package_id}}"></input>
                    <button type = "submit"> tryy </button> -->
                  </div>

                </div>
              </div>
            </div>
          </div>

        {% endfor%}
      </div>
    </div>
    <input id = "check-error" value = "{{error}}" type = "hidden"></input>
    <input id = "check-session" value = "{{username}}" type = "hidden"></input>
    <div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Can not purchase the wallet</h4>
          </div>
          <div class="modal-body">
            <div class="container -method-container topup-modal">
              <div class="circle-body center"><button class="fa fa-exclamation-triangle fa-5x  icon-set hidebut"></button></div>
              <!-- <img class="center" src = "../static/images/truemoney.jpg" alt="" height="200" > -->
              <p>You have no enough money</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="space-bottom"></div>
    <!--END HOME SECTION -->
    <!--FOOTER SECTION -->
    {% include "footer.html" %}
      <!--END FOOTER SECTION -->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    {% load static %}
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'assets/js/list.js' %}"></script>

    <!-- SLIDER SCRIPTS LIBRARY -->
    <script src="{% static 'assets/Slides-SlidesJS-3/examples/playing/js/jquery.slides.min.js' %}"></script>
    <!-- CUSTOM SCRIPT-->
    <script>
        $(document).ready(function () {
            $('#slides').slidesjs({
                width: 940,
                height: 528,
                play: {
                    active: true,
                    auto: true,
                    interval: 4000,
                    swap: true
                }
            });
        });

    </script>

</body>
</html>
