<div class="navbar-collapse collapse">
  <form action="{% url 'main:login' %}" method="post">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
      <div class="row" style="padding-top: 6px; padding-bottom: 6px">
        <div class="col-md-4">
          <li>
            <div class="row"><input class="form-control" type="text" placeholder="username / email" name="login_key"></div>
          </li>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <li>
            <div class="row"><input class="form-control" type="password" placeholder="password" name="login_password"></div>
          </li>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <li>
            <div class="row"><button type="submit" class="btn btn-primary">Login</button></div>
          </li>
        </div>
      </div>

      <!-- <li><a href="services.html">SERVICES</a></li>
      <li><a href="pricing.html">PRICING</a></li>
      <li><a href="gallery.html">GALLERY</a></li>
      <li><a href="contact.html">CONTACT</a></li> -->
    </ul>
  </form>
</div>
