<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right" style="color:white;">
      <div class="padding-top">
        <form class="-inline" action="{% url 'main:history' %}" method="post">{% csrf_token %}
          <button type="submit" class="btn btn glyphicon glyphicon-user bold-login black">{{username}}</button>
        </form>
        <form class="-inline" action="{% url 'main:logout' %}" method="post">{% csrf_token %}
          <button type="submit" class="btn btn-danger">Log out</button>
        </form>
        </div>
    </ul>
</div>
