<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>PIG PUG PONG TOP-UP</title>
    <style>
    textarea {overflow-y: scroll; overflow-x: scroll;}
    td {text-align: left;vertical-align: text-top;}
    </style>
    <!--GOOGLE FONT -->
    {% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <!--SLIDER CSS CLASES -->
    <link href="{% static 'assets/Slides-SlidesJS-3/examples/playing/css/slider.css' %}" rel="stylesheet" />
    <!--CUSTOM STYLE -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/session_bar.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/veiwQ.css' %}" rel="stylesheet" />
    <!-- <link href="{% static 'assets/css/list.css' %}" rel="stylesheet" /> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<!--END HEAD SECTION -->
<body>
    <!-- NAV SECTION -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'main:index' %}">PIGPUGPONG</a>
            </div>
                {% include "logout.html" %}
        </div>
    </div>
    <!--END NAV SECTION -->
    <!-- HOME SECTION -->
    <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active" id="home_tab"><a href="#mainforum">Home</a></li>
      <li role="presentation" id="new_question_tab"><a href="#New_question">Post</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade active in"  id="main_forum">
        <div class="row">
          <table class="table">
            <th style="width: 50%">Subject</th>
            <th style="width: 35%">Writer</th>
            <th style="width: 20%"></th>
            {% for question in question_list %}
            <tr>
              <td>{{ question.question_subject }}</td>
              {% for account in account_list %}
                {% if question.user_id == account.user_id %}
                  <td>{{ account.username }}</td>
                {% endif %}
              {% endfor %}
              <td>
                <form action="{% url 'main:viewQuestion' %}" method="POST" id="question">
                  {% csrf_token %}
                  <button class="btn btn-primary btn-lg btn-style" name="select_question" value="{{ question.question_id }}">View</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="tab-pane fade" id="new_question">
        <form action="{% url 'main:postQuestion' %}" method="POST">
          {% csrf_token %}
          <table>
            <tr>
              <td>Question Subject:</td>
              <td><input class="form-control" type="text" placeholder="question subject" name="question_subject"></td>
            </tr>
            <tr>
              <td>Question Details :</td>
              <td>
                <textarea class="form-control" placeholder="question detail" rows="20" cols="100" name="question_detail"></textarea>
              </td>
            </tr>
          </table>
          <button class="btn btn-primary btn-lg" name="postQuestion">Submit</button>
        </form>
      </div>
    </div>

    </div>


    <!--END HOME SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    {% load static %}
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/profile.js' %}"></script>
    <!-- SLIDER SCRIPTS LIBRARY -->
    <script src="{% static 'assets/Slides-SlidesJS-3/examples/playing/js/jquery.slides.min.js' %}"></script>
    <!-- CUSTOM SCRIPT-->
    <script>
        $(document).ready(function () {
            $('#slides').slidesjs({
                width: 940,
                height: 528,
                play: {
                    active: true,
                    auto: true,
                    interval: 4000,
                    swap: true
                }
            });
            $('#new_question_tab').click(function(){
              $("#home_tab").removeClass("active");
              $("#new_question_tab").addClass("active");
              $("#main_forum").removeClass('active in');
              $("#new_question").addClass('active in');
            });
            $('#home_tab').click(function(){
              $("#new_question_tab").removeClass("active");
              $("#home_tab").addClass("active");
              $("#new_question").removeClass('active in');
              $("#main_forum").addClass('active in');
            });
        });
    </script>
</body>
</html>
