<div class="container width-200" id="edit">

  <!-- bio -->
    <div class="col-md-12 col-sm-12 image-container">
      <div class="form-group">
        <img class="profile" src = "../static/images/profile.jpg" alt="100">
      </div>
      <div class="form-group">
        <span class="glyphicon glyphicon-user bold" aria-hidden="true"></span> {{username}}
        <br>
        <span class="glyphicon glyphicon-usd bold" aria-hidden="true"></span> {{wallet.money}} baht
        <br>
        <span class="glyphicon glyphicon-star bold" aria-hidden="true"></span> {{wallet.point}} point
        <br>
        <form class="-inline" id="edit-profile">
          <button type="submit" class="btn btn-success">Edit</button>
        </form>
        {% include "data-toggle.html" %}
      </div>
    </div>
</div>

<div class="container width-200" id="save_change">
    <div class="col-md-12 col-sm-12 image-container">
      <form action="{% url 'main:edit' %}" method="post"> {% csrf_token %}
        <div class="form-group">
          <img class="profile" src = "../static/images/profile.jpg" alt="100">
          <input class = "browse" name = "key" value = "Line" type = "file"></input>
        </div>
        <div class="form-group">
          <span class="glyphicon glyphicon-user bold" aria-hidden="true"></span> Username
          <input type="text" class="form-control" name="username" value = {{username}}>
        </div>
        <div class="form-group">
          <span class="glyphicon glyphicon-envelope bold" aria-hidden="true"></span> Email
          <input type="text" class="form-control" name="email" value = {{email}}>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save Change</button>
        </div>
      </form>
    </div>

</div>
