<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>PIG PUG PONG TOP-UP</title>
    <style>
    textarea {overflow-y: scroll; overflow-x: scroll;}
    td {text-align: left;vertical-align: text-top;}
    .list-group {
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
    }
    .hd{
      background-color: #D5D3D3;
    }
    .sc{
      line-height: 3;
      overflow-y: scroll;
    }
    .row{
      padding: 10px;
    }
    .panel-body{
      line-height: 5;
      overflow-y: scroll;
    }
    </style>
    <!--GOOGLE FONT -->
    {% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <!--SLIDER CSS CLASES -->
    <link href="{% static 'assets/Slides-SlidesJS-3/examples/playing/css/slider.css' %}" rel="stylesheet" />
    <!--CUSTOM STYLE -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/session_bar.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/veiwQ.css' %}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<!--END HEAD SECTION -->
<body>
    <!-- NAV SECTION -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'main:index' %}">PIGPUGPONG</a>
            </div>
                {% include "logout.html" %}
        </div>
    </div>
    <!--END NAV SECTION -->
    <!-- HOME SECTION -->

    <!-- <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Left</button>
      <button type="button" class="btn btn-secondary">Middle</button>
      <button type="button" class="btn btn-secondary">Right</button>
    </div> -->


    <div class="container">
            <div class="panel panel-default">
          <div class="panel-heading">
            <div class="btn-group pull-right" role="group">
              <div class="col-md-6">
                <form action="{% url 'main:mainforum' %}" method="post">
                  {% csrf_token %}
                  <div class="row"><button type="submit" class="btn btn-primary" name=mainforum>Back</button></div>
                </form>
              </div>
              <div class="col-md-6">
                <form action="{% url 'main:deleteQuestion' %}" method="POST">
                  {% csrf_token %}
                  <div class="row"><button class="btn btn-primary" name="deleteQuestion" value={{select_question.question_id}}>Delete</a></div>
                </form>
              </div>
            </div>
            <h4>Subject :{{select_question.question_subject}}</h4>
          </div>
          <div class="panel-body">
            <div class="row"><p>Detail :</p></div>
            <div class="row"><p>{{select_question.question_detail}}<p></div>
            <div class="row"><p class="text-right">{{select_question.question_date}}</p></div>
          </div>
        </div>


      <div class="row">
        <form action="{% url 'main:replyQuestion' %}" method="POST">
          {% csrf_token %}
          <div class="col-md-10"><input class="form-control" type="text" placeholder="reply" name="reply_question"></div>
          <div class="col-md-2">
            <button class="btn btn-primary btn-lg btn-style -padding" name="replyQuestion" value={{select_question.question_id}}>Reply</button>
          </div>
        </form>
      </div>




      <div class="list-group">
      {% for reply in reply_list %}
        <a href="#" class="list-group-item">
                <div class="row hd">
                {% for account in account_list %}
                  {% if reply.user_id == account.user_id %}
                    <h4 class="list-group-item-heading">{{ account.username }}</h4>
                  {% endif %}
                {% endfor %}
                </div>
                <div class="row sc">
                <p class="list-group-item-text">{{reply.reply_detail}}</p><br>
                <p class="list-group-item-text">{{reply.reply_date}}</p><br>
                </div>
        </a>
      {% endfor %}
    </div>
    </div>


    <!--END HOME SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    {% load static %}
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/profile.js' %}"></script>
    <!-- SLIDER SCRIPTS LIBRARY -->
    <script src="{% static 'assets/Slides-SlidesJS-3/examples/playing/js/jquery.slides.min.js' %}"></script>
    <!-- CUSTOM SCRIPT-->
    <script>
        $(document).ready(function () {
            $('#slides').slidesjs({
                width: 940,
                height: 528,
                play: {
                    active: true,
                    auto: true,
                    interval: 4000,
                    swap: true
                }
            });
        });
    </script>
</body>
</html>
